.song-list{
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  background-color: #f1f1f1;
  color: navy;
  border-radius: 5px;
}

ol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 40px;
  /* grid-column-gap: 30px;
  grid-row-gap: 20px; */
  /* line-height: 1.4; */
}
